.feed-details-area{
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	height: calc(100vh - 40px - (50px * 2) - 185px);
	min-height: 443px;
	>div{
		>div{
			&:nth-child(3){
				// background-color: rgba(0,0,0,0.1) !important;
				width: 10px !important;
				right: 0 !important;
				bottom: 0 !important;
				top: 0 !important;
				border-radius: 0 !important;
				>div{
					background-color: rgba(0,0,0,0.3) !important;
				}
			}
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.feed-details{
		min-height: 160px;
		list-style: none;
		padding: 25px 15px;
		display: flex;
		align-items: flex-start;

		&:nth-child(1n){
			background-color: #FFF;
		}
		&:nth-child(2n){
			background-color: #eeeeef;
		}
		>a{
			margin: 0 20px;
			display: inline-block;
		}

		div.img{
			width: 150px;
			height: 110px;
			border-radius: 5px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url(../images/imagenotfound.jpg);
		}
		div.content{
			flex: 1;
			line-height: 1em;
			overflow: hidden;
			h3{
				line-height: 1em;
				margin: 0;
				color: $color3;
				font-size: 0.9em;
				a{
					text-decoration: none;
					color: $color3;
					&:visted, &:focus, &:hover, &:active{
						text-decoration: none;
						color: $color3;
					}
				}
			}
			div.data{
				margin: 10px 0 0 0;
				line-height: 1.2em;
				font-size: 0.7em;
				display: flex;
				flex-wrap: wrap;
				p{
					margin: 0;
				}
			}
			span{
				font-size: 1em;
				&:nth-child(2){
					margin: 0 3px;
				}
				&.key{
					color: grey;
				}
				&.value{
					color: $color1;
					font-weight: bold;
					margin-right: 20px;
				}
			}
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			div.content{
				margin: 20px;
				flex: none;
			}
		}

	}
}